[submodule ".registry"]
	path = .registry
	url = https://github.com/gigu003/gigu003.r-universe.dev
	branch = HEAD
[submodule "canregtools"]
	path = canregtools
	url = https://github.com/gigu003/canregtools
[submodule "crformats"]
	path = crformats
	url = https://github.com/gigu003/crformats
